@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
nav > button {
    font-family: "Noto Sans";
}

body {
    margin: 0;
    padding: 0;
}

nav > button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    height: 100%;
}

nav > button:hover {
    color: rgba(19, 19, 19, 0.9);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    padding: 12px 0;
    height: 36px;
    
    border-bottom: 1px solid rgb(199, 199, 199);
    background-color: darkseagreen;
}
