@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
nav > button {
    box-sizing: border-box;
    font-family: "Noto Sans";
    color: #F5F0E6;
}

body {
    margin: 0;
    padding: 0;
    background-color: #22211E;
}

nav > button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    height: 100%;
}

nav > button:hover {
    color: rgba(19, 19, 19, 0.9);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    padding: 12px 0;
    height: 36px;

    background-color: #1C1B19;
    border-bottom: 1px solid #303030;
}

#content {
    display: flex;
    justify-content: center;

    width: 100%;
    background-color: #22211E;
}

.restaurant-name {
    font-size: 36px;
    text-align: center;
}

.restaurant-slogan {
    font-size: 18px;
    text-align: center;
}

.homepage-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    padding: 24px;
    background-color: #22211E;
}

.menu-header {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.menu-item-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-item-description {
    font-size: 14px;
}

.menu-items-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 600px));
    gap: 24px;
    padding: 24px;
}
